@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Employee Leave Requests";
}

<br />

<h1>Index</h1>

<br />

<div class="row">
    <div class="col-3 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title text-primary">@Model.TotalRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.TotalRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title text-success">@Model.ApprovedRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.ApprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title text-warning">@Model.PeningRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.PeningRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-3 mb-3 mb-sm-0">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title text-danger">@Model.RejectedRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.RejectedRequests)</p>
            </div>
        </div>
    </div>
</div>

<br />
<hr />

<h1>Leave Request Log</h1>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Firstname)
                @Html.DisplayFor(modelItem => item.Employee.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Cancelled)
                {
                    <button type="button" class="btn btn-outline-secondary btn-sm">Cancelled</button>
                }else if(item.Approved == null)
                {
                    <button type="button" class="btn btn-outline-warning btn-sm">Pending</button>
                }else if (item.Approved!.Value)
                {
                    <button type="button" class="btn btn-outline-success btn-sm">Approved</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-danger btn-sm">Rejected</button>
                }
            </td>
            <td>
                @if(item.Cancelled == false)
                {
                    <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/lib/bootstrap-icons/icons/binoculars.svg" /> &nbsp; Review
                    </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
