@model LeaveManagement.Web.Models.EmployeeAllocationVM

@{
    ViewData["Title"] = "ViewAllocations";
}

<h1>Allocations For @Model.Firstname @Model.Lastname</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
    </dl>
</div>

<br />
<hr />
<br />


<div class="card">
    <div class="card-header">
        <h4>Leave Allocations</h4>
    </div>
    <ul class="list-group list-group-flush">
        @foreach(var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        @allocation.LeaveType.Name
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-primary">
                            Allocated Days <span class="badge text-bg-secondary">@allocation.LeaveType.DefaultDays</span>
                        </button>
                        <button type="button" class="btn btn-warning">
                            Remaining Days <span class="badge text-bg-secondary">@allocation.NumberOfDays</span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a asp-action="EditAllocation" asp-route-id="@allocation.Id" class="btn btn-success">
                            <img src="~/lib/bootstrap-icons/icons/pen.svg" /> &nbsp; Edit Allocation
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<br />
<div>
    <a asp-action="Index" class="btn btn-secondary btn-lg">
        <img src="~/lib/bootstrap-icons/icons/arrow-left-circle.svg" /> &nbsp; Back to List
    </a>
</div>
